body {
	font-family: Helvetica,sans-serif;
}

.hidden {
	display: none;
}

input[type="text"], button {
	display: block;
	margin-bottom: 10px;
	width: 100%;
	max-width: 580px;
}

#canvas {
	display: block;
	margin-bottom: 10px;
	width: 100%;
	max-width: 580px;
}
