@font-face {
	font-family: 'Titillium Web';
	src: url('./fonts/TitilliumWeb-SemiBold.ttf');
}

body {
	font-family: 'Titillium Web',sans-serif;
}

.hidden {
	display: none;
}

.blockinput {
	display: block;
	margin-bottom: 10px;
	width: 100%;
	max-width: 580px;
}

select {
	display: block;
	margin-bottom: 10px;
}

#canvas {
	display: block;
	margin-bottom: 10px;
	width: 100%;
	max-width: 580px;
}

#autogenui {
	margin-bottom: 10px;
}

#filename {
	width: 400px;
}
